@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GS Movie Rental Store</h1>
    <p class="lead">Movie Rental Store is a simple web applications using HTML,bootstrap and EntityFramework.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>GS Movie Rental Store</h2>
        <p>
            Rent movies  from our store, watch movies never seen before
        </p>

    </div>
    <div class="col-md-4">
        <h2>Membership</h2>
    </div>
    <div class="col-md-4">
        <h2>Movies Available</h2>
        <p>You can easily find a movies</p>

    </div>
</div>